* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  background-color: #f5f7fa;
  padding-block: 20px;
}

.wrapper {
  padding-inline: 144px;
}

header .wrapper nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
}

header .wrapper .user-manager .login {
  color: #28cb8b;
  border: none;
  background-color: transparent;
}

header .wrapper .user-manager {
  display: flex;
  gap: 24px;
}

header .wrapper .user-manager .signUp,
.learn,
.btn,
.register {
  color: white;
  border: none;
  background-color: #43a046;
  padding: 12px 24px;
  border-radius: 6px;
}

/* hero section styling */
.assign {
  color: #43a046;
}

.hero .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 100px;
  background-color: #f5f7fa;
}

h1 {
  font-size: 64px;
}

p {
  font-size: 16px;
  margin-block: 24px;
  font-weight: 400;
  color: #717171;
}

/* jobs offered section styling */
.jobs-offered .wrapper {
  text-align: center;
}

.jobs-offered .wrapper h2 {
  font-size: 36px;
  font-weight: 600;
  margin-block: 24px;
}

.company-logo {
  display: flex;
  justify-content: space-between;
}

h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  color: #4d4d4d;
}

h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  color: #4d4d4d;
}

.management .community-management {
  margin-block: 60px;
  text-align: center;
}

.management .organizations {
  display: flex;
  justify-content: space-around;
  margin-block: 24px;
}

.org {
  text-align: center;
  width: 244px;
}

.pixelgrade .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #18191f;
}

/* statistic styling */
.investment {
  margin-block: 24px;
  background-color: #f5f7fa;
  padding-block: 50px;
}

.investment .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.investment .wrapper .statistics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.investment .wrapper .statistics .stats {
  display: flex;
  gap: 20px;
}

.investment .wrapper .statisticText h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
}

h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
}

/* site footer styling */
.siteFooter .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.siteFooter .wrapper h2 {
  text-decoration: underline;
}

.siteFooter .wrapper p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #717171;
}

/* customer section styling */

.customerSection .wrapper {
  display: flex;
  justify-content: space-between;
  gap: 78px;
  align-items: center;
  margin-block: 24px;
  background-color: #f5f7fa;
  padding-block: 50px;
}
.customerSection .meet {
  width: 748px;
  height: 324px;
  gap: 32px;
  /* padding-block: 50px; */
}

.customerSection .companyLogo {
  display: flex;
  gap: 16;
  justify-content: space-between;
}
.customerSection .companyLogo .buttons {
  display: flex;
  border: none;
  justify-content: space-between;
  width: auto;
}

.btn {
  background-color: #4caf4f;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  border: none;
  /* margin-right: 10px; */
}

.icon {
  font-size: 20px;
  color: #4caf4f;
  padding: 20px;
}

/* More Info Section Styling */
.moreInfo {
  margin-block: 24px;
  padding-block: 50px;
  text-align: center;
}

.moreInfo > .wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.moreInfo > .wrapper > .moreInfoTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.moreInfo > .wrapper > .moreInfoTitle > h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  cursor: pointer;
  color: #4d4d4d;
}
.moreInfo > .wrapper > .moreInfoTitle > p {
  width: 628px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #717171;
}
.moreInfo > .wrapper > .pictureInfo {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.moreInfo > .wrapper > .pictureInfo > .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.moreInfo > .wrapper > .pictureInfo > .card > .cardDescription {
  width: 317px;
  height: 176px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 16px 0px #abbed166;
  background: #f5f7fa;
  position: absolute;
  bottom: -70px;
  border-radius: 8px;
  padding: 6px;
}

.moreInfo > .wrapper > .pictureInfo > .card > .cardDescription > .readMore {
  display: flex;
  gap: 20px;
}
.moreInfo > .wrapper > .pictureInfo > .card > .cardDescription > h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #717171;
}

.accent {
  color: #4caf4f;
  font-size: 20px;
  padding: 2px;
}

.readMore {
  display: flex;
  text-align: center;
  justify-content: center;
}

/* CTA Section Styling */
.cta {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-block-start: 100px;
  padding-block: 54px;
  background-color: var(--silver);
}
.ctaBtn {
  margin-block: 24px;
}

/* footer styling */
footer {
  background-color: #263238;
  padding-block: 54px;
}

footer > .wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr;
  color: var(--silver);
}

footer > .wrapper > .logoCorner {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
footer > .wrapper > .logoCorner > .footer-texts {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer > .wrapper > .logoCorner > .footer-texts > p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

footer > .wrapper > .footer-items {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 30px;

 
}

footer > .wrapper > .footer-items > .footer-item > h4 {
  margin-block-end: 24px;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #f5f7fa;
}

footer > .wrapper > .footer-items > .footer-item > ul {
  list-style: none;
  display: grid;
  gap: 12px;
}
footer > .wrapper > .footer-items > .footer-item > ul > li {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: white;
}
footer > .wrapper > .footer-items > .footer-item > .input {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 9px;
  border-radius: 6px;

}

footer > .wrapper > .footer-items > .footer-item > .input > input {
  background-color: transparent;
  border: none;
  outline: none;
}
footer > .wrapper > .footer-items > .footer-item > .input > input::placeholder {
 color: #f5f7fa;
}
